{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<ul>
    <li>
    <a href="{{path('app_admin')}}">Home</a>
    </li>
    <li>
    <a href="{{path('app_dashboard')}}">Dashboard</a>
    </li>
</ul>

<h1>Dashboard</1>

{% endblock %}