{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<ul>
    <li>
        <a href="{{path('app_admin')}}">Dashboard</a>
    </li>
    <li>
        <a href="{{path('app_liste')}}">Liste</a>
    </li>
    <li>
        <a href="{{path('app_parametre')}}">Prametre</a>
    </li>
</ul>

<h1>Parametre</1>

{% endblock %}