{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}

<ul>
    <li>
        <a href="{{path('app_test')}}">Accueil</a>
    </li>
    <li>
        <a href="{{path('propos')}}">A propros</a>
    </li>
</ul>

Coucou je suis contact

{% endblock %}
