{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}

<a href="?controller=test&action=contact">Contact</a>

Coucou je suis l'accueil

{% endblock %}
