{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
<ul>
    <li>
    <a href="{{path('propos')}}">A propos</a>
    </li>
    <li>
    <a href="{{path('contact')}}">Contact</a>
    </li>
</ul>


Coucou je suis l'accueil

{% endblock %}
